.cards > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .cards-wrapper {
    max-width: unset;
}

main .cards > div > div {
    position: relative;
    height: 280px;
    max-width: 640px;
    width: 100%;
    margin: 16px auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

main .cards .cards-card-body {
    width: 256px;
    height: 104px;
    border-bottom: 6px solid var(--link-color);
    color: white;
    background-color: var(--dark-background-color);
    font-size: 14px;
    padding: 0 24px;
    transform: translate(8px, 6px)
}

main .cards .cards-card-body h3 {
    font-size: 24px;
}


main .cards picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
  }
  
  main .cards img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
@media (min-width: 900px) {
    main .cards > div {
        flex-direction: unset;
    }

    main .cards .cards-card-body {
        width: 100%;
        max-width: 256px;
    }

    main .cards > div > div {
        margin: 8px;

    }
}