main .product-carousel-wrapper {
    max-width: 1500px;
}

main .product-carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
      
main .product-carousel > div {
    width: 50%;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
}

main .product-carousel::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #eee; /* or add it to the track */
}

main .product-carousel::-webkit-scrollbar-thumb {
  background: #999;
}

main .product-carousel a.button:any-link {
    font-size: var(--body-font-size-s);
    padding: 4px 15px;
    text-transform: uppercase;
}


main .product-carousel h4 {
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);
}

main .product-carousel {
    font-size: var(--body-font-size-m);
}


@media (min-width: 900px) {
    main .product-carousel > div {
        width: calc(100%/3);
    }    
}

@media (min-width: 1200px) {
    main .product-carousel > div {
        width: calc(100%/4);
    }    
}
