/* header and nav layout */
header nav {
  display: grid;
  grid-template: 'hamburger brand tools' 'sections sections sections';
  grid-template-columns:  56px 1fr 120px;
  padding: 12px 2rem;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  width: 100vw;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 2px solid #d5d5d5;
  box-shadow:  0 0 0 1px #888;
  font-family: var(--body-font-family);
}

header nav a:any-link {
  color: currentColor;
}

header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools img {
  display: none;
}

header nav .nav-tools img.icon-cart {
  display: unset;
}

header nav .nav-tools ul {
  padding: 0;
  font-size: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

header nav .nav-tools li {
  padding: 0;
}

header nav[aria-expanded='true'] {
  grid-template: 'hamburger brand' 'sections sections' 'tools tools';
  grid-template-columns:  56px 1fr;
  overflow-y: scroll;
}


header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}


/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
}

header .nav-brand p {
  margin: 0;
}

header .nav-brand img {
  width: 128px;
}

/* sections */
header .nav-sections {
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: rgba(var(--background-color) / 92%);
  width: 100vw;
}

header .nav-sections ul  {
  font-size: 16px;
  font-weight: 500;
}

header .nav-sections ul {
  list-style: none;
  padding-left: 0;
} 

header .nav-sections li {
  font-size: 20px;
  font-weight: 500;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  align-self: flex-start;
}

header nav[aria-expanded='true'] {
  min-height: 100vh;
}

/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 28px 2rem;
  }
  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentColor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-sections {
    display: unset;
  }

  header nav .nav-brand {
    flex: 0 0 150px;
  }

  header nav .nav-tools {
    flex: 0 0 70px;
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }
  
  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    padding: 0 16px;
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    padding-top: 0;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    margin-top: 20px;
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections > ul > li > ul:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;    
    border-bottom: 15px solid #eee;
    top: -15px;
    left: 20px;
  }


  header nav .nav-sections > ul > li > ul > li {
    font-size: 18px;
    padding: 8px 16px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] ul {
    display: block;
    position: absolute;
    background-color: #eee;
    width: 300px;
    left: 0;
    padding-bottom: 16px;
  } 

  header nav .nav-tools img {
    display: unset;
    padding: 0 4px;
  }

}

@media (min-width: 1200px) {
  header nav .nav-tools ul {
    font-size: unset;
  }

  header nav .nav-tools ul {
    margin: 0;
  }

  header nav .nav-tools li a {
    display: flex;
    align-items: center;
    padding-right: 16px;
  }

  header nav .nav-tools {
    flex: 0 0 300px;
  }
}
