main .products-results {
    display: flex;
    flex-wrap: wrap;
  }
      
main .products-results > div {
    width: 50%;
    position: relative;
}

main .products-results a.button:any-link {
    font-size: var(--body-font-size-s);
    padding: 4px 15px;
    text-transform: uppercase;
}


main .products-results h4 {
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);
}

main .products-results {
    font-size: var(--body-font-size-m);
}

main .products-facets, main .products-controls, main .products-sortby {
    display: none;
}

@media (min-width: 900px) {
    main .products-results > div {
        width: calc(100%/3);
    }    
}

@media (min-width: 1200px) {
    main .products-results > div {
        width: calc(100%/4);
    }    
}
